name: bildungscampus_app
description: Bildungscampus App

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.1.2+16

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.3
  get_it: ^7.1.3
  provider: ^6.0.1
  flutter_svg: ^2.0.0+1
  flutter_staggered_grid_view: ^0.6.2
  carousel_slider: ^4.0.0-nullsafety.0
  oauth2_client: ^3.1.0
  url_launcher: ^6.0.4
  auto_size_text: ^3.0.0-nullsafety.0
  shared_preferences: ^2.0.6
  permission_handler: ^10.2.0
  webview_flutter: ^4.0.2
  collection: ^1.17.0
  intl: ^0.17.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_native_splash: ^2.2.17
  flutter_launcher_icons: ^0.11.0

dependency_overrides:
  image: ^4.0.10

flutter_native_splash:
  color: "#193e69"
  image: "assets/images/logo_schwarz_stiftung.png"

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec
# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
    - assets/icons/
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.
  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: DINOT Bold
      fonts:
        - asset: assets/fonts/DINOT-Bold.ttf
    - family: DINOT Light
      fonts:
        - asset: assets/fonts/DINOT-Light.ttf
    - family: DINOT Medium
      fonts:
        - asset: assets/fonts/DINOT-Medium.ttf
    - family: DINRoundOT Medium
      fonts:
        - asset: assets/fonts/DINRoundOT-Medium.ttf
    - family: SabonLTPro Italic
      fonts:
        - asset: assets/fonts/SabonLTPro-Italic.ttf
          style: italic
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
flutter_intl:
  enabled: true
  main_locale: 'de_DE' # Optional. Sets the main locale used for generating localization files. Provided value should consist of language code and optional script and country codes separated with underscore (e.g. 'en', 'en_GB', 'zh_Hans', 'zh_Hans_CN'). Default: en
  arb_dir: lib/core/l10n # Optional. Sets the directory of your ARB resource files. Provided value should be a valid path on your system. Default: lib/l10n
  output_dir: lib/core/l10n/generated # Optional. Sets the directory of generated localization files. Provided value should be a valid path on your system. Default: lib/generated